/* CSS declarations go here */
body {	
	background-image: url("beepattern.png");
	color: #b33b00;
}

.row {
	background: #ffff80;
}
.row h2 {	
	text-align: center;
}
.row td, th{
	text-align: center;
}
